@import "@/assets/reset";
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tinos:wght@700&display=swap");

$primary: hsl(0, 0%, 4%);
$primaryLight: hsl(0, 0%, 7%);
$primaryLighter: hsl(0, 0%, 14%);
$primaryLightest: hsl(0, 0%, 28%);
$primaryText: #DFDFF1;
$primaryTextDark: hsl(0, 0%, 80%);
$primaryTextDarker: hsl(0, 0%, 60%);
$background: #FAFAFA;
$backgroundLight: #fff;

$text: #151515;

.rtl {
    direction: rtl;
    text-align: right;
}

.ltr {
    direction: ltr;
    text-align: left;
}


.logo-type {
    font-family: 'DM Serif Display', serif;
}

.logo-type-he {
    font-family: 'Tinos', serif;
    font-size: 0.9em;
}

.is-invert {
    filter: invert(100%);
}


a {
    color: $primary;
    text-decoration: none;
}

a:visited {
    color: $primaryLighter;
    text-decoration: none;
}

a:hover {
    text-decoration-color: $primary;
    text-decoration: underline;
}

a:active {
    color: $primaryLightest;
    text-decoration: none;
}

body {
    // overflow-x: hidden;
    // overflow-y: hidden;
    overflow-y: scroll;
    font-size: 1rem;
    line-height: normal;
    color: $text;
    background-color: $background;

    margin: 0;
    padding: 0;
    // font-family: 'Playfair Display', serif;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}

.icon-inline {
    display: inline-block;
    align-self: center;
    height: 1em;
    width: 1em;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    // top: -0.125em;
    position: relative;
}

select {

    /* styling */
    border-radius: 2px;
    background-color: $backgroundLight;
    // color: $text;
    cursor: pointer;
    margin-bottom: .5em;
    margin-top: .5em;
    padding-left: 1em;
    padding-right: 3.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-color: $primaryText;
    border-width: 1px;
    box-shadow: none;
    // display: inline-flex;
    height: 2.5rem;
    border: 1px solid $primaryText;
    justify-content: center;
    text-align: center;
    white-space: nowrap;


    &:hover {
        border: 1px solid $primary;
        box-shadow: 0 0 0 .15em rgba(114, 114, 114, 0.25);
    }

    /* reset */

    // margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}


/* arrows */

select {
    background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
}

select:focus {
    background-image:
        linear-gradient(45deg, $primary 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, $primary 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 15px) 1em,
        calc(100% - 20px) 1em,
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
    border-color: $primary;
    outline: 0;
}


select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}



.button {
    // font-family: 'Playfair Display', serif;
    display: inline-block;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;


    border-radius: 2px;
    background-color: $backgroundLight;
    // color: $text;
    cursor: pointer;
    margin-bottom: .5em;
    margin-top: .5em;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-color: $primaryText;
    border-width: 1px;
    box-shadow: none;
    // display: inline-flex;
    height: 2.5rem;
    border: 1px solid $primaryText;
    justify-content: center;
    text-align: center;
    white-space: nowrap;

    &.is-transparent {
        background-color: transparent;
        border: transparent;

        &:hover {
            border: transparent;
            box-shadow: 0 0 0 .15em rgba(0, 0, 0, 0.25);
        }
    }

    &.is-icon {
        height: 2rem;
        width: 2rem;
        display: inline-block;
        display: flex;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        overflow: hidden;
    }

    &.is-circle {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        border-radius: 50%;
        display: inline-block;
        display: flex;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        overflow: hidden;
        padding: 0;

        font-weight: bold;
    }

    &:hover {
        border: 1px solid $primary;
        box-shadow: 0 0 0 .15em rgba(114, 114, 114, 0.25);
    }

    &:active {
        border: 1px solid $primaryTextDarker;
        // background-color: $primary;
        // color: $primaryText
    }

    &.is-primary {
        border-color: $primaryText;
        background-color: $primary;
        color: $primaryText;

        &:hover {
            border: 1px solid $primaryTextDarker;
            box-shadow: 0 0 0 .15em rgba(0, 0, 0, 0.5);
        }

        &:active {
            border: 1px solid $primaryLightest;
            // background-color: $primary;
            // color: $primaryText
        }
    }

}

.subtext {
    font-size: 0.8rem;
    color: $primaryLightest;
}

.no-display {
    display: none;
}